.container {
    padding: 30px 10px;
}

.heading {
    font-size: 1.4rem;
    margin-bottom: 24px;
    text-align: center;
    font-weight:700;
    text-transform:uppercase;
    color: #333;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 12px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card:hover {
    border-color: #b76538;
    box-shadow: 0 10px 30px rgba(183, 101, 56, 0.2);
}

.image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #f8e5da;
}

.name {
    font-size: 16px;
    margin: 12px 0 6px;
    color: #2c2c2c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #b76538;
    font-weight: 600;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 38px;
}

.priceBox {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.price {
    color: #2c2c2c;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.mrp {
    color: gray;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.whatsappButton {
    margin-top: 14px;
    background-color: #1f5132;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(37, 211, 102, 0.2);
}

.whatsappButton:hover {
    background-color: #153823;
    /* transform: translateY(-2px); */
}

.icon {
    font-size: 18px;
}

.card {
    cursor: pointer;
    position: relative;
}

.whatsappButton {
    margin-top: 14px;
    /* background-color: #25d366; */
    background-color: #1f5132;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(37, 211, 102, 0.2);
}

/* TRENDING TAG FEARURE SHOULD BE ADDED  */

.trendingTag {
    position: absolute;
    top: 7px;
    left: 6px;
    /* background: #ff3838; */
    background: #b76538;
    /* background: #43961d; */
    color: white;
    padding: 4px 8px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
}


.whatsappButton:hover {
    background-color: #1ebe5d;
}

.icon {
    font-size: 18px;
}

@media screen and (min-width: 1200px) {
    .cardGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}
/* Responsive */
@media screen and (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .image {
        height: 190px;
        width: 100%;
    }

    .name {
        font-size: 15px;
    }

    .description {
        font-size: 13px;
    }

    .price {
        font-size: 14px;
    }

    .mrp {
        font-size: 12px;
    }

    .whatsappButton {
        font-size: 14px;
        padding: 8px;
    }
}
