.container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #d28c24;
  margin-bottom: 40px;
}

.navList {
  list-style: none;
  padding: 0;
}

.navList li {
  margin-bottom: 20px;
}

.navList a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.navList a:hover {
  color: #d28c24;
}

.main {
  flex: 1;
  padding: 30px;
}

.heading {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: #444;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 200px;
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card h3 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}
.navList li a.active {
  color: #d28c24;
  font-weight: bold;
}
.card p {
  font-size: 24px;
  font-weight: bold;
  color: #d28c24;
}
