.shopContainer {
  display: flex;
  padding: 40px 20px;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .shopContainer {
    flex-direction: column;
  }
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:0.9rem;
  color: #b76538;
}

.categoryPill {
  border: none;
  background-color: #f2f2f2;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
  font-weight:600;
  font-size: 14px;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-align: left;
}

.categoryPill:hover {
  color: #fff;
  background-color: #b76538;
}

.active {
  background-color: #b76538;
  color: #fff;
}

.productsGrid {
  flex: 1;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.productCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  padding: 15px;
  text-align: center;
  transition: 0.3s ease;
}

.productImage {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.headingText {
  background-color: #b76538;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 8px 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .headingText {
    font-size: 0.93rem;
  }
}

.productTitle {
  font-size: 16px;
  margin: 10px 0;
  font-weight: 600;
}

.priceBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.discountedPrice {
  font-weight: bold;
  color: #2c2c2c;
}

.originalPrice {
  text-decoration: line-through;
  color: #888;
  font-size: 0.9rem;
}

.whatsappBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 11px 10px;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: #4c6437;
  transition: background 0.3s ease;
}

.whatsappBtn:hover {
  background-color: #b76538;
}

.icon {
  font-size: 18px;
}


@media (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    gap: 10px;
    padding-right: 0;
    scrollbar-width: none;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .sidebar > * {
    flex: 0 0 auto;
  }
}
